div{
    margin: auto;
}
.p1{
    font-style: italic;
    font-size: 60px;
    background-color: plum;
    width: 1000px;
    height: 100px;
    text-align: center;
    display: center;
    vertical-align: middle;

}
.p2{
    font-style: initial;
    color: aliceblue;
    background-color: darkorchid;
    font-size: 28px;
    width: 1000px;
    text-align: center;
    vertical-align: middle
}
.p3{
    font-style: initial;
    color: aliceblue;
    background-color: grey;
    font-size: 28px;
    width: 1000px;
    height: 550px;
    text-align: auto;
    display: center;
}
.p4{
    font-style: initial;
    color: black;
    background-color: darkviolet;
    font-size: 35px;
    width: 1000px;
    height: 50px;
    text-align: center;
    display: center;
}