body{
    margin: auto;
    margin-top: 50px;
    width: 1000px;
}
.p1{padding: 20px;
    font-style: italic;
    font-size: 75px;
    background-color: plum;
    height: 100px;
    text-align: center;
    display: center;

}
.p2{padding:18px;
    font-style: initial;
    color: aliceblue;
    background-color: darkorchid;
    font-size: 35px;
    height:50px ;
    text-align: center;
    display: center;
}
.p3{padding: 15px;
    font-style: initial;
    color: aliceblue;
    background-color: grey;
    font-size: 28px;
    height: 550px;
    text-align: auto;
    display: center;
}
.p4{
    font-style: initial;
    color: black;
    background-color: darkviolet;
    font-size: 35px;
    height: 50px;
    text-align: center;
    display: center;
}